# Linear regression

You will implement linear regression with multiple variables to predict the prices of houses. 

Suppose you are selling your house and you want to know what a good market price would be. One way to do this is to first collect information on recent houses sold and make a model of housing
prices.

The file `ex1.csv` contains a training set of housing prices in Portland, Oregon. The first column is the size of the house (in square feet), the second column is the number of bedrooms, and the third column is the price of the house.

In [1]:
import matplotlib.pyplot as plt #for graphics
import numpy as np
import pandas as pd

**Exercise 1.** Load the file and explore it, give preliminary conclusions.

In [2]:
data = pd.read_csv('ex1.csv')
data.head(4)

   area  bedrooms   price
0  2104         3  399900
1  1600         3  329900
2  2400         3  369000
3  1416         2  232000

By looking at the values, note that house sizes are about 1000 times the number of bedrooms. When features differ by orders of magnitude, first performing feature scaling can make gradient descent converge much more quickly.

**Exercise 2.** Normalize the data by mean centering and dividing each column with the standard deviations. Do a code that can be generalized to any number of features and examples.

In [3]:
y = data['price']
data.drop(columns=['price'], inplace=True)

In [4]:
y.head()

0    399900
1    329900
2    369000
3    232000
4    539900
Name: price, dtype: int64

In [5]:
data.head()

   area  bedrooms
0  2104         3
1  1600         3
2  2400         3
3  1416         2
4  3000         4

In [6]:
data.mean().values

array([2000.68085106,    3.17021277])

In [7]:
def normalize_data(X):
    """
    Get a pandas dataframe a return the normalize mean centered data.
    """
    feature_mean = X.mean().values
    feature_std = X.std().values
    data = X.values
    data = (data - feature_mean)/feature_std
    return data

In [8]:
data = normalize_data(data)

In [9]:
pd.DataFrame(columns = ['area', 'bedrooms'], data = data).head()

       area  bedrooms
0  0.130010 -0.223675
1 -0.504190 -0.223675
2  0.502476 -0.223675
3 -0.735723 -1.537767
4  1.257476  1.090417

The standard deviation is a way of measuring how much variation there is in the range of values of a particular feature (most data points will lie within +2 and -2 standard deviations of the mean).

**Exercise 3.** Add a column of ones to your data. This will be the column correspondig to $x_0$.

In [10]:
N, F = data.shape

In [11]:
data_with_ones = np.hstack((np.ones(shape=(N,1)), data))
data_with_ones

array([[ 1.00000000e+00,  1.30009869e-01, -2.23675187e-01],
       [ 1.00000000e+00, -5.04189838e-01, -2.23675187e-01],
       [ 1.00000000e+00,  5.02476364e-01, -2.23675187e-01],
       [ 1.00000000e+00, -7.35723065e-01, -1.53776691e+00],
       [ 1.00000000e+00,  1.25747602e+00,  1.09041654e+00],
       [ 1.00000000e+00, -1.97317285e-02,  1.09041654e+00],
       [ 1.00000000e+00, -5.87239800e-01, -2.23675187e-01],
       [ 1.00000000e+00, -7.21881404e-01, -2.23675187e-01],
       [ 1.00000000e+00, -7.81023044e-01, -2.23675187e-01],
       [ 1.00000000e+00, -6.37573110e-01, -2.23675187e-01],
       [ 1.00000000e+00, -7.63567023e-02,  1.09041654e+00],
       [ 1.00000000e+00, -8.56737193e-04, -2.23675187e-01],
       [ 1.00000000e+00, -1.39273340e-01, -2.23675187e-01],
       [ 1.00000000e+00,  3.11729182e+00,  2.40450826e+00],
       [ 1.00000000e+00, -9.21956312e-01, -2.23675187e-01],
       [ 1.00000000e+00,  3.76643089e-01,  1.09041654e+00],
       [ 1.00000000e+00, -8.56523009e-01, -1.53776691e+00],
       [ 1.00000000e+00, -9.62222960e-01, -2.23675187e-01],
       [ 1.00000000e+00,  7.65467909e-01,  1.09041654e+00],
       [ 1.00000000e+00,  1.29648433e+00,  1.09041654e+00],
       [ 1.00000000e+00, -2.94048269e-01, -2.23675187e-01],
       [ 1.00000000e+00, -1.41790005e-01, -1.53776691e+00],
       [ 1.00000000e+00, -4.99156507e-01, -2.23675187e-01],
       [ 1.00000000e+00, -4.86733818e-02,  1.09041654e+00],
       [ 1.00000000e+00,  2.37739217e+00, -2.23675187e-01],
       [ 1.00000000e+00, -1.13335621e+00, -2.23675187e-01],
       [ 1.00000000e+00, -6.82873089e-01, -2.23675187e-01],
       [ 1.00000000e+00,  6.61026291e-01, -2.23675187e-01],
       [ 1.00000000e+00,  2.50809813e-01, -2.23675187e-01],
       [ 1.00000000e+00,  8.00701226e-01, -2.23675187e-01],
       [ 1.00000000e+00, -2.03448310e-01, -1.53776691e+00],
       [ 1.00000000e+00, -1.25918949e+00, -2.85185864e+00],
       [ 1.00000000e+00,  4.94765729e-02,  1.09041654e+00],
       [ 1.00000000e+00,  1.42986760e+00, -2.23675187e-01],
       [ 1.00000000e+00, -2.38681627e-01,  1.09041654e+00],
       [ 1.00000000e+00, -7.09298077e-01, -2.23675187e-01],
       [ 1.00000000e+00, -9.58447962e-01, -2.23675187e-01],
       [ 1.00000000e+00,  1.65243186e-01,  1.09041654e+00],
       [ 1.00000000e+00,  2.78635031e+00,  1.09041654e+00],
       [ 1.00000000e+00,  2.02993169e-01,  1.09041654e+00],
       [ 1.00000000e+00, -4.23656542e-01, -1.53776691e+00],
       [ 1.00000000e+00,  2.98626458e-01, -2.23675187e-01],
       [ 1.00000000e+00,  7.12617934e-01,  1.09041654e+00],
       [ 1.00000000e+00, -1.00752294e+00, -2.23675187e-01],
       [ 1.00000000e+00, -1.44542274e+00, -1.53776691e+00],
       [ 1.00000000e+00, -1.87089985e-01,  1.09041654e+00],
       [ 1.00000000e+00, -1.00374794e+00, -2.23675187e-01]])

## Gradient descent

As you perform gradient descent to learn minimize the cost function it is helpful to monitor the convergence by computing the cost. In this section, you will implement a function to calculate $J(\theta)$ so you can check the convergence of your gradient descent implementation.

**Exercise 4**. Create a function called `computeCost`, which is a function that computes $J(\theta)$. As you are doing this, remember that the variables $X$ and $y$ are not scalar values, but matrices whose rows represent the examples from the training set. Run computeCost once using $\theta$ initialized to zeros, and print the cost. You should expect to see a cost of 32.07.

* $ p = \theta_1+\theta_2x$
* $ p = (\theta_1, \theta_2) ( 1, x )^{T}$
* $ p = ( 1, x ) (\theta_1, \theta_2)^{T}$

In [57]:
y = y.reshape(-1,1)

In [75]:
def computeCost(theta, X, y):
    N, _ = X.shape
    pred = X.dot(theta.T)
    cost = np.linalg.norm(pred - y)**2/(2*N)
    return cost

In [76]:
theta = np.zeros(shape=(1,1+F))
print(computeCost(theta, data_with_ones, y))

65591548106.45746

Next, you will implement gradient descent. As you program, make sure you understand what you are trying to optimize and what is being updated. Keep in mind that the cost $J(\theta)$ is parameterized by the vector $\theta$, not $X$ and $y$. That is, we minimize the value of $J(\theta)$
by changing the values of the vector $\theta$, not by changing $X$ or $y$. Refer to the
A good way to verify that gradient descent is working correctly is to look at the value of $J(\theta)$ and check that it is decreasing with each step.

**Exercise 5.** Implement a gradient descent algorithm for your data. Run your algorithm for 50 iterations and plot the $J(\theta)$ against the number of iterations for different values of the learning rate.

Notice the changes in the convergence curves as the learning rate changes. With a small learning rate, you should find that gradient descent takes a very long time to converge to the optimal value. Conversely, with a large learning rate, gradient descent might not converge or might even diverge!

**Exercise 6.** Using the best learning rate that you found, run gradient descent until convergence to find the final values of $\theta$. Next, use this value of $\theta$ to predict the price of a house with 1650 square feet and 3 bedrooms.

### Ordinary least squares solution

You learned that the closed-form solution to linear regression is the ordinary least squares solution.
Using this formula does not require any feature scaling, and you will get
an exact solution in one calculation: there is no "loop until convergence" like
in gradient descent. OLS doesn't need

**Exercise 7.** Calculate the ordinary least squares solution and compare to the solution obtained with gradient descent algorithm.

### Using scikit-learn library for linear regression

Scikit-learn is probably the most useful library for machine learning in Python. This library contains a lot of effiecient tools for machine learning and statistical modeling including classification, regression, clustering and dimensionality reduction.
With this library we can fit several machine learnings including linear regression, without programming the optimization algorithms.
Let's see how this works.

First we need to import the required libraries into python environment

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

Now we need to fit our linear model. This is equivalent to finding the values of $\theta$.

**Exercise 8.** Complete the following code to fit a linear regression model. Scikit-learn linear regression adds an intercept automatically, which means that your matrix X_train shouldn't include the column of ones. Compare the values of $\theta$ with the ones that you obtained with gradient descent and OLS.

In [ ]:
regressor = LinearRegression()  
regressor.fit(X_train, y_train) #training the algorithm

#To retrieve the intercept (\theta_0)
print(regressor.intercept_)
#For retrieving the rest of parameters:
print(regressor.coef_)

**Exercise 9.** Let's use scikit learn to predict the price of a house with 1650 square feet and 3 bedrooms, as we did before. Complete the following code by creating a vector `x_test` containing the desired values for prediction and check the result obained.

In [ ]:
y_pred = regressor.predict(X_test)

## Conclusion

We have implemented gradient descent, and ordinary least squares for solving a linear regression model and give a prediction. We've also learned the basics for using scikit-learn library to fit a linear regression model. 

You have started your journey to become a Machine Learning expert!